.content-quiz {
    width: 100%;
    background-color: rgb(243, 243, 243);
}

.content-title {
    text-align: left;
    font-size: 1.4rem;
    font-weight: bold;
}

#question-container {
    li {
        margin-bottom: 1rem;
    }
}

.hidden {
    display: none;
}

.add-question {
    padding: 20px;

    p {
        display: inline;
    }
}

.buttons {
    text-align: center;
}

footer {
    text-align: center;
}