.content-quiz {
    width: 100%;
    background-color: rgb(243, 243, 243);
}

.content-title {
    text-align: left;
    font-size: 1.4rem;
    font-weight: bold;
}

.buttons {
    text-align: center;
}

footer {
    text-align: center;
}